#martha-textbox {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 50px 32px 50px;
  scroll-snap-align: start;
  min-height: 80vh;
  position: relative;
}

#martha-textbox-header {
  background-color: var(--firstShadow);
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 115px;
}

#martha-textbox-body {
  background-color: var(--firstPrimary);
  border-radius: 0 0 30px 30px;
  min-height: 460px;
  display: flex;
  flex-direction: column;
}

#martha {
  height: 75px;
  flex: 1 1 auto;
}

#martha-textbox-body p {
  font-size: 2rem;
  color: white;
  margin: auto;
}
