.navbar {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialLinks{
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcon {
  width: 2rem;
}