.navbar {
  width: 375px;
  height: 100vh;
  position: fixed;
  background-color: #B9DBD4;  
  padding: 0;
  margin: 0;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  text-align: center;
  margin: auto;
}

h3#intro {
  margin: 0;
}

.nav-item {
  align-items: center;
}

.link-text {
  font-size: 200%;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms ease-in-out;
}

.link-text:hover {
  filter: grayscale(0) opacity(1);
  color: var(--secondPrimary);
}


/* .navbar-social {
  list-style: none;
}

#medium {
  width: 50px;
  height: 50px;
} */