.navbar {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem 0 0 2rem;
  background: linear-gradient(
    to right bottom, 
    rgba(255, 255, 255, 0.7), 
    rgba(255, 255, 255, 0.3)
    );
  box-shadow: 10px 0 5px -8px rgb(179, 179, 179);
}

#avatar {
  padding-bottom: 0.5rem;
  transition: 200ms ease-in-out;
}

#avatar:hover {
  transform: scale(1.1);
}

.links {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: center;
}

a.link h3 {
  background: -webkit-linear-gradient(#65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  padding: 10px;
  margin-bottom: 1rem;
  box-shadow: inset 0 0 5px lightslategray;
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcon {
  width: 2rem;
  transition: all 200ms ease-in-out;
}

.socialIcon:hover {
  transform: scale(1.3);
}

a.link {
  text-decoration: none;
}

a.link h3:hover {
  transform: scale(1.3);
  transition: 400ms ease-in-out;
}

img.socialIcon {
  margin: 0 20px;
}