#textbox {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  /* max-height: 75vh; */
  margin: auto;
  padding-top: 50px;
}

.textbox-header {
  background-color: var(--firstShadow);
  border-radius: 30px 30px 0 0;
  max-height: 25vh;
  display: flex;
  align-content: flex-end;
  margin: 0;
  min-height: 115px;
}

.textbox-body {
  background-color: var(--firstPrimary);
  border-radius: 0 0 30px 30px;
  height: 50vh;
  /* max-height: 75%; */
  min-height: 460px;
  display: flex;
  flex-direction: column;
}

#martha {
  height: 75px;
  flex: 1 1 auto;
}

.text-receive {
  border-radius: 30px;
  background-color: var(--menu);
  margin: 10px 10px 0 10px;
  padding-left: 20px;
  padding-right: 20px;
  /* min-width: 300px; */
  max-width: 80%;
  align-self: flex-start;
}

.textbox-body p {
  font-size: 2rem;
  color: white;
  margin: auto;
}

.text-sent {
  border-radius: 30px;
  background-color: var(--thirdShadow);
  /* min-width: 300px; */
  max-width: 80%;
  margin: 10px 10px 0 10px;
  padding-left: 20px;
  padding-right: 20px;
  align-self: flex-end;
}