#contact-textbox {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  /* max-height: 75vh; */
  margin: auto;
  padding-top: 50px;
}

#contact-textbox-header {
  background-color: var(--fifthShadow);
  border-radius: 30px 30px 0 0;
  max-height: 25vh;
  display: flex;
  align-content: flex-end;
  margin: 0;
  min-height: 115px;
}

#contact-textbox-body {
  background-color: var(--fifthPrimary);
  border-radius: 0 0 30px 30px;
  min-height: 50vh;
  /* max-height: 75%; */
  min-height: 460px;
  display: flex;
  flex-direction: column;
}

#contact {
  height: 75px;
  flex: 1 1 auto;
}

#contact-textbox-body p {
  font-size: 2rem;
  color: white;
  margin: auto;
}