#contact-textbox {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 50px 32px 50px;
  scroll-snap-align: start;
}

#contact-textbox-header {
  background-color: var(--fifthShadow);
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 115px;
  box-shadow: 0 10px 5px -8px var(--fifthShadow);
  z-index:1;
}

#contact-textbox-body {
  background-color: var(--fifthPrimary);
  border-radius: 0 0 30px 30px;
  min-height: 460px;
  display: flex;
  flex-direction: column;
}

#contact {
  height: 75px;
  flex: 1 1 auto;
}

#contact-textbox-body p {
  font-size: 2rem;
  /* font size is overflowing causing #contact-textbox-body p to overflow past the parent div */
  /* font-size: 2vw; */
  color: white;
  margin: auto;
}

#contactForm {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

input {
  border-radius: 30px;
  padding-left: 15px;
}

#emailLink {
  align-self: center;
}

#emailIcon {
  width: 128px;
}