#experience-textbox {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 50px 32px 50px;
  scroll-snap-align: start;
}

#experience-textbox-header {
  background-color: var(--fourthShadow);
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 115px;
  box-shadow: 0 10px 5px -8px var(--fourthShadow);
  z-index:1;
}

#experience-textbox-body {
  background-color: var(--fourthPrimary);
  border-radius: 0 0 30px 30px;
  min-height: 460px;
  display: flex;
  flex-direction: column;
}

#experience {
  height: 75px;
  flex: 1 1 auto;
}

#experience-textbox-body p {
  font-size: 2rem;
  color: white;
  margin: auto;
}