:root {
  font-size: 18px;
  font-family: 'Baloo Chettan 2', cursive;
  --sidenav: #B9DBD4;
  --body: #8FC1BE;
  --menu: rgb(81, 113, 135, 0.7);
  --firstPrimary: #FFCA80;
  --firstShadow: #E5876C;
  --secondPrimary: #F25659;
  --secondShadow: #983B63;
  --thirdPrimary: #9FEAFF;
  --thirdShadow: #4E99D0;
  --fourthPrimary: #85DF9B;
  --fourthShadow: #3F8D7A;
  --fifthPrimary: #618BBD;
  --fifthShadow: #584A6C;
  --textboxPrimary: #FFF6DB;
  --buttonPrimary: #DED4C2;
}

* {
  font-family: 'Baloo Chettan 2', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.text-receive {
  border-radius: 30px;
  background-color: var(--menu);
  max-width: 80%;
  margin: 10px 10px 0 10px;
  padding: 0 10px 0;
  align-self: flex-start;
}

.text-sent {
  border-radius: 30px;
  background-color: var(--thirdShadow);
  max-width: 80%;
  margin: 10px 10px 0 10px;
  padding: 0 10px 0;
  align-self: flex-end;
  text-align: right;
}

.text-sent:last-child {
  margin-bottom: 10px;
}

.card {
  border-radius: 30px;
  border: none;
  background-color: var(--thirdShadow);
  max-width: 80%;
  margin: 10px 10px 0 10px;
  align-self: flex-end;
  text-align: right;
}

.card:last-child {
  margin-bottom: 10px;
}

.work-img {
  width: 100%;
  height: auto;
  border-radius: 30px 30px 0 0;
}

.work-img:hover {
  opacity: 0.25;
}

.tooltip-box {
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  width: 50%;
  padding: 2px 10px;
  background-color: var(--thirdShadow);
  color: white;
  text-align: center;
  border-radius: 30px;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color: var(--thirdShadow) transparent transparent transparent;
}

.tooltip-box:hover .tooltip-text {
  visibility: visible;
}