#work-textbox {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 50px 10px 50px;
}

#work-textbox-header {
  background-color: var(--thirdShadow);
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 115px;
}

#work-textbox-body {
  background-color: var(--thirdPrimary);
  border-radius: 0 0 30px 30px;
  min-height: 460px;
  display: flex;
  flex-direction: column;
}

#work {
  height: 75px;
  flex: 1 1 auto;
}

#work-textbox-body p {
  font-size: 2rem;
  color: white;
  margin: auto;
}